.clothes-section {
  padding-left: 116px;
}

.clothes-section__container {
  display: flex;
  gap: 20px;
}

.clothes-section__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.clothes-section__add-button {
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
}
