.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: white;
  padding: 2px 12px 2px;
  border-radius: 8px;
}

.card__image {
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card__like-btn {
  position: absolute;
  top: 30px;
  right: 111px;
  bottom: 291px;
  left: 194px;
  background: url("../../assets/heart.svg") no-repeat center;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__like-btn:hover {
  opacity: 0.6;
}

.card__like-btn_active {
  background: url("../../assets/heart-liked.svg") no-repeat center;
}
